// Toggle button styles for grid/table view
.active-toggle {
  color: #111 !important;

}
.inactive-toggle {
  color: #aaa !important;
}
.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

button {
    border: 0;
}

inner-div {
    margin: 0;
}

h2, p {
    margin: 0;
}